$mfg-card-border-color: var(--mfg-card-border-color, (206,210,211));
$mfg-card-padding: var(--mfg-card-padding, 15px);
$mfg-card-title-color: var(--mfg-card-title-color, (22,27,28));
$mfg-card-title-size: var(--mfg-card-title-size, 16px);
$mfg-card-title-weight: var(--mfg-card-title-weight, 600);
$mfg-card-category-color: var(--mfg-card-category-color, (1,119,142));
$mfg-card-category-size: var(--mfg-card-category-size, 14px);
$mfg-card-category-weight: var(--mfg-card-category-weight, 400);
$mfg-card-category-margin: var(--mfg-card-category-margin, 0 0 5px 0);
$mfg-card-secondary-title-color: var(--mfg-card-secondary-title-color, (106,117,120));
$mfg-card-secondary-title-size: var(--mfg-card-secondary-title-size, 14px);
$mfg-card-secondary-title-weight: var(--mfg-card-secondary-title-weight, 600);
$mfg-card-heading-padding: var(--mfg-card-heading-padding, 0 0 10px);
$mfg-card-margin: var(--mfg-card-margin, 15px);
$mfg-card-fields-container-padding: var(--mfg-card-fields-container-padding, 15px);
$mfg-pagination-button-padding: var(--mfg-pagination-button-padding, 5px);
$mfg-pagination-button-color: var(--mfg-pagination-button-color, (0,0,0));
$mfg-pagination-button-bg: var(--mfg-pagination-button-bg, transparent);
$mfg-pagination-button-bg-hover: var(--mfg-pagination-button-bg-hover, (206,210,211));
$mfg-pagination-button-cursor: var(--mfg-pagination-button-cursor, pointer);
$mfg-card-list-padding: var(--mfg-card-list-padding, 15px);
$mfg-card-list-bg: var(--mfg-card-list-bg, (243,245,245));
$mfg-card-bg: var(--mfg-card-bg, (255,255,255));
$mfg-card-height: var(--mfg-card-height, 173px);
$mfg-card-list-faq-padding: var(--mfg-card-list-faq-padding, 0);
$mfg-card-tertiary-field-color: var(--mfg-card-tertiary-field-color, (106,117,120));
$mfg-card-tertiary-field-size: var(--mfg-card-tertiary-field-size, 14px);
$mfg-card-tertiary-field-weight: var(--mfg-card-tertiary-field-weight, 400);
$mfg-card-field-color: var(--mfg-card-field-color, (106,117,120));
$mfg-card-field-size: var(--mfg-card-field-size, 14px);
$mfg-card-field-weight: var(--mfg-card-field-weight, 400);