@import '@servicenow/sass-kit/host';
@import '~bootstrap/scss/bootstrap';
@import './_theme.scss';

.mfg-card-list.card {
  padding: $mfg-card-list-padding;
  //background-color: RGB($mfg-card-list-bg);
}

.mfg-card-list.faq {
  padding: $mfg-card-list-faq-padding;
}

.mfg-card {
  border: 1px solid RGB($mfg-card-border-color);
  padding: $mfg-card-padding;
  margin-bottom: $mfg-card-margin;
  background-color: RGB($mfg-card-bg);
  height: $mfg-card-height;
  &:hover {
    cursor: pointer;
  }
}

.mfg-faq:hover {
  cursor: pointer;
}

.mfg-card-title {
  color: RGB($mfg-card-title-color);
  font-size: $mfg-card-title-size;
  font-weight: $mfg-card-title-weight;
}

.mfg-card-secondary-title {
  color: RGB($mfg-card-secondary-title-color);
  font-size: $mfg-card-secondary-title-size;
  font-weight: $mfg-card-secondary-title-weight;
}

.mfg-card-heading {
  border-bottom: 1px solid $mfg-card-border-color;
  padding-bottom: $mfg-card-heading-padding;
}

.mfg-card-fields-container {
  padding-top: $mfg-card-fields-container-padding;
}

.flex-row {
  display: flex;
}

.flex-row-between {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mfg-pagination-button {
  padding: $mfg-pagination-button-padding;
  color: RGB($mfg-pagination-button-color);
  background-color: RGB($mfg-pagination-button-bg);
  cursor: $mfg-pagination-button-cursor;
  &:hover {
    background-color: RGB($mfg-pagination-button-bg-hover);
  }
  &.disabled {
    background-color: RGB($mfg-pagination-button-bg);
    cursor: default;
  }
  &.active {
    background-color: RGB($mfg-pagination-button-bg-hover);
  }
}

.left-chevron:before {
  content: '\003c';
}

.right-chevron:before {
  content: '\003e';
}